<div class='jumbotron'>
	  <img src="assests/styles/images/logo.png" style="display: inline-block;" height="120" width="120">
	  <span style="display: inline-block;"><h1>{{title}}<h1></span>
</div>

<div>
	<h2>{{welcomeMessage}}</h2>
	<h4>{{welcomeNote}}</h4>
</div>
<div>
	<img src="{{fruit.image}}" style="display: inline-block;" height="50" width="50" />{{fruit.name}}. {{fruit.description}}
</div>

<table border='2'>
	<thead>
		<tr>
			<td style="text-align:right;" colspan='3'>
				{{totalCount}} items 
				${{totalCost}}
			</td>
		</tr>
	</thead>
    <tbody ng-repeat="feature in fruit.features">
        <tr>
        	<td>
        		{{feature.name}}
        	</td>
        	<td>
        		<star-rating ng-model="feature.value" readonly="true"></star-rating>
            </td>
            <td>
            	{{feature.description}}
            </td>
        </tr>
    </tbody>
    <tr>
    	<td style="text-align:right;" colspan='3'>
			{{totalCount}} items 
			${{totalCost}}
		</td>
	</tr>
</table>