<div class='jumbotron'>
	  <img src="assests/styles/images/logo.png" style="display: inline-block;" height="120" width="120">
	  <span style="display: inline-block;"><h1>{{title}}<h1></span>
</div>

<div>
	<h2>{{welcomeMessage}}</h2>
	<h4>{{welcomeNote}}</h4>
</div>
<div>
	<label for="fruitName">Search</label>
	<input type="text" ng-model="fruitName" id="fruitName"/>
</div>
<div>
	<table border='2'>
		<thead>
			<tr>
				<td style="text-align:right;" colspan='5'>
					{{totalCount}} items 
					${{totalCost}}
				</td>
			</tr>
		</thead>
	    <tbody ng-repeat="fruit in fruits">
	        <tr>
	        	<td>
	        		<img src="{{fruit.image}}" style="display: inline-block;" height="50" width="50" />
	        	<td>
	            <td>{{fruit.name}}<br>{{fruit.description}}</td>
	            <td>{{fruit.price}}</td>
	            <td><button type="button" class="btn btn-success" ng-click="addToCart(fruit)">Add to cart</button></td>
	        </tr>
	    </tbody>
	    <tr>
	    	<td style="text-align:right;" colspan='5'>
				{{totalCount}} items 
				${{totalCost}}
			</td>
		</tr>
	</table>
</div>