<div class='jumbotron'>
	<a href="#!/">
	  <img src="assests/styles/images/logo.png" style="display: inline-block;" height="120" width="120">
	  <span style="display: inline-block;"><h1>{{title}}<h1></span>
	</a>
</div>

<div>
	<h3>{{thanksMessage}}<h3>
	<h4>{{cartMessage}}</h4>
</div>

<table border='2'>
	<thead>
		<tr>
			<td>Item</td>
			<td>Quantity</td>
			<td>Price</td>
			<td></td>
		</tr>
	</thead>
    <tbody ng-repeat="item in cart">
        <tr>
        	<td>
        		{{item.item.name}}
        	</td>
        	<td>
        		<div class="input-group">
        			{{item.quantity}}

				    <div class="btn-group" data-toggle="buttons-radio">
						<button name="spin" type="button" class="btn btn-success active" ng-click="updateQuantity(item, 1)"><i class="fa fa-plus"></i></button>
						<button name="spin" type="button" class="btn" ng-click="updateQuantity(item, -1)"><i class="fa fa-minus"></i></button>
					</div>
				  </div>
            </td>
            <td>
            	${{item.item.price*item.quantity}}
            </td>
            <td>
            	<span ng-click="removeFromCart(item.item)"><i class="fa fa-times" aria-hidden="true"></i></span>
            </td>
        </tr>
    </tbody> 	
    <tr>
    	<td>
    		Total
    	</td>
    	<td>
    		{{totalCount}}
        </td>
        <td>
        	${{totalCost}}
        </td>
        <td>
        </td>
    </tr>
</table>

<button type="button" class="btn btn-default" ng-click="redirectToStore()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to store</button>
<button type="button" class="btn btn-danger" ng-click="clearCart()"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear cart</button>
<button type="button" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Checkout using paypal</button>
<button type="button" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i>Checkout using google</button>