<!DOCTYPE html>
<html ng-app="fk">
  <head lang="en"> 
    <title>Fruitkart</title>
  </head>
  <body>
    
    <div ng-view></div>
    
    <!-- scripts -->
    <script src="node_module/jquery/dist/jquery.js"></script>
    <script src="node_module/angular/angular.js"></script>
    <script src="node_module/angular-route/angular-route.js"></script>
    <script src="app/scripts/app.js"></script>
    <script src="app/scripts/controller/dashboard/dashboard.js"></script>
    <script src="app/scripts/controller/dashboard/controller.js"></script>
  
  </body>
</html>